$font-color: #fff;
$background-color: rgba(0, 255, 255, 0.5);
$night-color: rgba(64, 34, 82, 0.452);
$mask-color: rgba(10, 10, 10, 0.1);
$button-color: transparent;
$bordercolor: rgb(177, 177, 177);
$container-bgcolor: #f2f2f2;
$button-textcolor: rgb(223, 217, 217);
$shadowcolor: rgba(241, 233, 233, 0.932);
$text-shadow-color: rgb(12, 11, 11);
$fadecolor: rgba(255, 255, 255, 0.6);
